
h1,h2,h3,h4,h5 {
	margin: 5px;
}
.board {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: .1fr repeat(8, 1fr);
	grid-template-columns: .5fr repeat(8, 1fr);
	padding: 10px 5px 0px 0px;
}

.gameContainer h2 {
	text-align: center;
	height: 20px;
}


.gameContainer {
	padding:5px;
}


.br {
	border-top-style: solid;
}



@media (min-width: 501px) {

.playArea{
	display: grid;
	grid-template-columns: 750px 250px;
	grid-gap: 25px
}

.board {
	padding-right: 20px;
	
}

}


