h1,h2,h3,h4,h5 {
  padding: 0;
  margin: 0;
}

.hud h2 {
	text-align: center;
}

.hud {
	float: right;
	border-style: solid;
	border-radius: 10px;
	overflow: hidden;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
		align-items: center;

}

.captured {
	display: inline;
}

.voiceCommand {
	color: white;
	background-color: red;
	border-radius: 100%;
	width: 100px;
	height: 100px;
	margin-top: 20px;
	font-size: 18px;
	grid-row-start: 1;
	grid-row-end: 2;
}

.playerName {
	background-color: black;
	color: white;
}

@media (max-width: 500px) {
	.hud{
		width: 100%;
	}
}