h1,h2,h3,h4,h5 {
  padding: 0;
  margin: 0;
}



.hud {
	float: right;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
}

.hud-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.hud-left {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.hud-left .turn {
	margin-bottom: 10px;
}
.captured {
	display: inline;
}

.voiceCommand {
	color: white;
	background-color: red;
	border-radius: 100%;
	width: 100px;
	height: 100px;
	margin-top: 20px;
	font-size: 18px;
	grid-row: 1 / 4;
}

.hud.deactivated .voiceCommand {
	background-color: grey;
}

.playerName {
	background-color: black;
	color: white;
}

.hud-left h2 {
	text-align: left;
}

@media (max-width: 500px) {
	.hud{
		width: 100%;
	}
}